<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Pomodoro</title>
  <link rel="stylesheet" href="../reset.css" />
  <link rel="stylesheet" href="./styles.css" />
</head>

<body>
  <main>
    <div class="step-container">
      <header>
        <h1>Como gostaria de focar? &#128337;</h1>
      </header>
      <section>
        <p>Na esquerda, selecione diga-nos a quantidade de minutos de foco,<br> enquanto na direita, nos informe os
          minutos
          de descanso.</p><br>
        <p>Caso, no passo 2, tenha selecionado a proporção comum de 5:1,<br> o cálculo será realizado automaticamente
          para
          os minutos de descanso.</p><br>
        <div class="pomodoro-setting-wrapper">
          <input onchange="handleSetFocusTime()" class="input pomodoro" value="25" id="focus-time" type="number" min="0"
            max="59" required>
          <span>&#128073;</span>
          <input class="input pomodoro" value="5" id="rest-time" type="number" min="0" max="59" required>
        </div>
      </section>
      <footer>
        <button onclick="goBack()">Voltar</button>
        <button onclick="finishSetup()">Alterar</button>
      </footer>
    </div>
  </main>
  <script src="./script.js"></script>
</body>

</html>