<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta charset="UTF-8" />
  <title>Pomodoro</title>
  <link rel="stylesheet" href="../reset.css" />
  <link rel="stylesheet" href="./styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Rajdhani:wght@600&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <section id="timer">
      <span id="minutes" class="number-wrapper">0</span>
      :
      <span id="seconds" class="number-wrapper">0</span>
    </section>
    <i id="quote"></i>
    <button onclick="startTimer(1500)" class="start-countdown">Iniciar Ciclo</button>
  </main>
  <script src="./script.js"></script>
</body>

</html>