<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta charset="UTF-8" />
  <title>Pomodoro</title>
  <link rel="stylesheet" href="../reset.css" />
  <link rel="stylesheet" href="./styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Rajdhani:wght@600&display=swap"
    rel="stylesheet">
</head>

<body>
  <main>
    <header>
      <div id="greetings">
        <h1>Olá, <span class="username">Usuário</span> &#128075;</h1>
        <i>Que tal começarmos um Pomodoro?</i>
      </div>
      <div id="focus">
        <h1><span class="username">Usuário</span>, esteja focado... &#129504;
        </h1>
        <i>O seu Pomodoro está em progresso.</i>
      </div>
      <div id="rest">
        <h1><span class="username">Usuário</span>, que tal descansar agora? &#129321;
        </h1>
        <i>Aproveite o seu tempo, logo estará em foco novamente.</i>
      </div>
    </header>
    <section id="timer">
      <span id="minutes" class="number-wrapper">0</span>
      :
      <span id="seconds" class="number-wrapper">0</span>
    </section>
    <i id="quote"></i>
    <footer>
      <button onclick="startTimer()" class="button start-countdown">Iniciar Ciclo</button>
      <button onclick="pauseTimer()" class="button pause-countdown">Pausar Ciclo</button>
      <button onclick="stopTimer()" class="button stop-countdown">Parar Ciclo</button>
    </footer>
  </main>
  <script src="./script.js"></script>
  <script src="../../src/renderer.js"></script>
</body>

</html>