:root {
  --background: #f2f3f5;
  --text: #2E384D;
  --white: #ffffff;
  --border: #F0F1F3;
  --green: #4bd62d;
  --dark-green: #3fb125;
  --yellow: #ebd300;
  --dark-yellow: #c5b200;
  --red: #950000;
  --dark-red: #670000;
}

body {
  background: var(--background);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

section#timer {
  color: var(--text);
  font-family: 'Rajdhani';
  font-weight: 600;
  font-size: 120px;
  
  display: flex;
  align-items: center;
}

.number-wrapper {
  padding: 5px;
  border: 1px solid var(--border);
  background: var(--white);
  border-radius: 4px;
}

#quote {
  display: none;
}

button.button {
  border: none;
  cursor: pointer;
  padding: 1rem 8rem;
  color: var(--white);
  border-radius: 4px;
  font-size: 16px;
}

button.start-countdown {
  background: var(--green);
  box-shadow: 0px 7px 0px 0px var(--dark-green);
  -webkit-box-shadow: 0px 7px 0px 0px var(--dark-green);
  -moz-box-shadow: 0px 7px 0px 0px var(--dark-green);
}

button.start-countdown:hover { 
  box-shadow: 0px 5px 0px 0px var(--dark-green);
  -webkit-box-shadow: 0px 5px 0px 0px var(--dark-green);
  -moz-box-shadow: 0px 5px 0px 0px var(--dark-green);
}

button.pause-countdown {
  padding: 1rem 6rem;
  background: var(--yellow);
  box-shadow: 0px 7px 0px 0px var(--dark-yellow);
  -webkit-box-shadow: 0px 7px 0px 0px var(--dark-yellow);
  -moz-box-shadow: 0px 7px 0px 0px var(--dark-yellow);
}

button.pause-countdown:hover { 
  box-shadow: 0px 5px 0px 0px var(--dark-yellow);
  -webkit-box-shadow: 0px 5px 0px 0px var(--dark-yellow);
  -moz-box-shadow: 0px 5px 0px 0px var(--dark-yellow);
}

button.stop-countdown {
  padding: 1rem;
  background: var(--red);
  box-shadow: 0px 7px 0px 0px var(--dark-red);
  -webkit-box-shadow: 0px 7px 0px 0px var(--dark-red);
  -moz-box-shadow: 0px 7px 0px 0px var(--dark-red);
}

button.stop-countdown:hover { 
  box-shadow: 0px 5px 0px 0px var(--dark-red);
  -webkit-box-shadow: 0px 5px 0px 0px var(--dark-red);
  -moz-box-shadow: 0px 5px 0px 0px var(--dark-red);
}