<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Pomodoro</title>
  <link rel="stylesheet" href="../reset.css" />
  <link rel="stylesheet" href="./styles.css" />
</head>

<body>
  <main>
    <div class="step-container">
      <header>
        <h1>Estatísticas &#128202;</h1>
      </header>
      <section>
        <article>
          <div>
            <h2>Tempo Total em Foco</h2>
            <h1 id="total-focus-time">x minutos</h1>
          </div>
          <div>
            <h2>Tempo Total em Descanso</h2>
            <h1 id="total-rest-time">x minutos</h1>
          </div>
          <div>
            <h2>Quantidade Total de Ciclos</h2>
            <h1 id="total-cycle-time">x minutos</h1>
          </div>
        </article>
        <table>
          <caption>Histórico</caption>
          <thead>
            <tr>
              <th scope="col">Início</th>
              <th scope="col">Término</th>
              <th scope="col">Tempo em Foco</th>
              <th scope="col">Tempo em Descanso</th>
              <th scope="col">Quantidade de Ciclos</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </section>
      <footer>
        <button onclick="goBack()">Voltar</button>
        <button class="erase" onclick="clearHistory()">Apagar Histórico</button>
      </footer>
    </div>
  </main>
  <script src="./script.js"></script>
</body>

</html>